.ingredients {
  display: flex;
  width: 22.4375rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
}

.ingredients-title {
  font-family: var(--font-title);
  font-size: 3.4375rem;
  line-height: 110%;
  font-weight: 500;
  width: 100%;
}

.ingredient-specification {
  font-family: var(--font-text);
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.875rem;
  letter-spacing: -0.0375rem;
  padding: 1.25rem 0 1.25rem 0;
}

.ingredients-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25rem;
}

.ingredient-item {
  display: flex;
  width: 20.6875rem;
  align-items: center;
  gap: 1.25rem;
}

.ingredients input[type="checkbox"] {
  -webkit-appearance: none;
  min-width: 1.7931rem;
  width: 1.7931rem;
  height: 1.7931rem;
  flex: 0 0 1.7931rem;
  border-radius: 50%;
  border: 0.125rem solid var(--color-primary);
  background-color: transparent;
  cursor: pointer;
}

.ingredients input[type="checkbox"]:checked {
  padding: 0.1494rem;
  display: flex;
  align-items: flex-start;
  gap: 0.7471rem;
  flex-shrink: 0;
  background-image: url("/image/Icon/box.svg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}
