html {
  scroll-behavior: smooth;
}
body {
  background-color: #f9f9f7;
  font-family: var(--font-text);
}

h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-title);
  font-weight: 400;
}
h1 {
  font-style: italic;
  font-family: var(--font-title);
}
.container {
  max-width: 81rem;
  margin: 0 auto;
  padding-inline: 1rem;
}
.bg-white {
  background-color: var(--color-white);
}
.bg-dark-gray {
  background-color: var(--color-dark-gray);
}
